html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"),
        url("../fonts/MullerBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Light"),
        url("../fonts/MullerLight.woff2") format("woff2"),
        url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Medium"),
        url("../fonts/MullerMedium.woff2") format("woff2"),
        url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Regular"),
        url("../fonts/MullerRegular.woff2") format("woff2"),
        url("../fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 320px;
    font-family: "Muller", sans-serif;
    background: #f1f1f1;
}

/* glob */

:root {
    --color-primary: #CC9933;
    --color-secondary: #F0BF5F;
    --color-tertiary: #A47312;
    --color-grey: #666666;
    --color-grey-light: #999999;
    --color-white: #ffffff;
    --color-black:  #000;
}

.list_reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn_reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.section_title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.section_offset {
    margin-bottom: 70px;
}

.btn:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn:focus {
    background-color: var(--color-primary);
    color: var(--color-white);
    outline: 0;
}

.btn:active {
    background-color: var(--color-tertiary);
    color: var(--color-white);
}


.link__dark {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-primary);
    transition: color 0.2s ease-in-out;
    align-self: flex-start;
}

.link__dark:hover {
    color: var(--color-primary)
}

.link__dark:focus {
    color: var(--color-primary);
    outline: 1px solid var(--color-primary);
    outline-offset: 2px;
}

.link__dark:active {
    color: var(--color-tertiary);
    outline: 0;
}

.link__light {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-primary);
    transition: color 0.2s ease-in-out;
    align-self: flex-start;
}

.link__light:hover {
    color: var(--color-secondary);
}

.link__light:focus{
    outline: 1px solid var(--color-primary);
    outline-offset: 5px;
}

.link__light:active {
    color: var(--color-tertiary);
    outline: 0;
}

/* header */

.header {
    padding-top: 30px;
    margin-bottom: 70px;
}

.header__container {
    align-items: center;
}

.header__cap {
    align-items: center;
    margin-bottom: 30px;
}

.header__logo {
    margin-right: 40px;
}

.header__link {
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-grey);
    transition: color 0.2s ease-in-out;
}

.header__link:hover {
    color: var(--color-primary)
}

.header__link:focus {
    color: var(--color-primary);
    outline: 1px solid var(--color-primary);
    outline-offset: 5px;
}

.header__link:active {
    color: var(--color-tertiary);
    outline: 0;
}

.header__account {
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: left center; 
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-primary);
    transition: color 0.2s ease-in-out, background-image 0.2s ease-in-out;
}

.header__account:hover {
    background-image: url('data:image/svg+xml,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z" fill="%23F0BF5F"/%3E%3C/svg%3E%0A');
    color: var(--color-secondary)
}

.header__account:focus {
    outline: 1px solid var(--color-primary);
    outline-offset: 7px;
}

.header__account:active {
    outline: 0;
    color: var(--color-tertiary);
    background-image: url('data:image/svg+xml,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z" fill="%23CC9933"/%3E%3C/svg%3E%0A');
}

.header_link_info {
    padding: 14px 45px;
    justify-content: space-between;
    background: var(--color-white);
    border-radius: 15px;
    align-items: center;
}

.nav_list__item {
    margin-right: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-grey);
    transition: color 0.2s ease-in-out;
}

.nav_list__link:hover {
    color: var(--color-primary);
}

.nav_list__link:focus {
    color: var(--color-primary);
    outline: 1px solid var(--color-primary);
    outline-offset: 5px;
}

.nav_list__link:active {
    color: var(--color-tertiary);
    outline: 0;
}

.header_list_item:last-child {
    margin: 0;
}

.header__btn {
    text-align: center;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: 13px 20px;
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-primary);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.header__btn:last-child {
    margin-right: 0;
}

/* main */
/* special */

.special__list_left {
    margin-right: 24px;
}

.special__item {
    position: relative;
    margin-bottom: 24px;
    border-radius: 15px;
    width: 573px;
    padding: 40px 108px 40px 45px;
    background-size: cover;
    background-repeat: no-repeat;    

}

.special__item:last-child {
    margin: 0;
}

.special__title_left {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-white);
}

.special__cost {
    display: block;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color:  var(--color-white);
    opacity: 0.8;
}

.special__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-secondary);
    transition: color 0.2s ease-in-out;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
}

.special__link svg {
    transform: translate(10px);
    transition: transform 0.2s;
}

.special__link:hover svg{
    transform: translateX(20px);
    
}

.special__link:focus::after {
    outline: 1px solid var(--color-primary);
    outline-offset: 5px;
}

.special__link:focus-visible {
    outline: none;
}

.special__link:active {
    color: var(--color-white);
    outline: 0;
}

.special__link:active svg {
    transform: none;
    transform: translate(10px);
}

.column_1 {
    background-image: linear-gradient(90deg , rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/maldives.jpg");
}

.column_2 {
    background-image: linear-gradient(90deg , rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/Crit.jpg");
}

.column_3 {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/numbers.jpg");
}

.cost__big {
    font-size: 30px;
    line-height: 30px;
}

.section__list_right {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    max-width: 573px;
    padding: 212px 229px 40px 45px;
}

.special__title_rigth {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: var(--color-white);
    
}

/* about_us */

.about_us__text {
    margin: 0;
    max-width: 888px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--color-black);
}

/* services */


.services__list {
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item {
    position: relative;
    width: 573px;
    margin-bottom: 24px;
    padding: 190px 126px 35px 45px;
    background-size: cover;
    background: var(--color-white);
    border-radius: 15px 15px 15px 15px;
}

.services__item:nth-child(2n) {
    margin-right: 0;
}

.services__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

.services__title {
    margin: 0;
}

.service__link {
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--color-primary);
    transition: color 0.2s ease-in-out;
}

.service__link:hover {
    color: var(--color-secondary);
}

.service__link:focus::after {
    outline: 1px solid var(--color-primary);
    outline-offset: 8px;
}

.service__link:focus-visible {
    outline: none;
}

.service__link:active {
    color: var(--color-tertiary);
    outline: 0;
}

.service__link svg{
    stroke: var(--color-primary);
    transform: translate(10px);
    transition: transform 0.2s, stroke 0.2s ease-in-out;
}

.service__link:hover svg {
    stroke: var(--color-secondary);
    transform: translateX(20px);
}

.service__link:focus svg {
    outline: 0;
}

.service__link:active svg {
    stroke: var(--color-primary);
    transform: none;
    transform: translate(10px);

}

.services__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--color-black);
}

.services_img_1 {
    background-image: url("../img/blog_1.svg");
    background-repeat: no-repeat;
}

.services_img_2 {
    background-image: url("../img/blog_2.svg");
    background-repeat: no-repeat;
}

.services_img_3 {
    background-image: url("../img/blog_3.svg");
    background-repeat: no-repeat;
}

.services_img_4 {
    background-image: url("../img/blog_4.svg");
    background-repeat: no-repeat;
}

/* advantages */

.advantages__list {
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__item {
    border-radius: 15px;
    margin-bottom: 22px;
    padding: 116px 42px 32px 45px;
    width: 276px;
    background: var(--color-white);
    background-position: 45px 40px;
}

.advantages_item:nth-last-child(-n + 4) {
    margin-bottom: 0;
}

.img__set {
    background-repeat: no-repeat;
}

.advantages__text {
    margin: 0;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--color-black);
}

.advantages__img_1 {
    background-image: url("../img/advantages_bathtub.svg");
}

.advantages__img_2 {
    background-image: url("../img/advantages_hanger.svg");
}

.advantages__img_3 {
    background-image: url("../img/advantages_heating.svg");
}

.advantages__img_4 {
    background-image: url("../img/advantages_hotel-key.svg");
}

.advantages__img_5 {
    background-image: url("../img/advantages_parking.svg");
}

.advantages__img_6 {
    background-image: url("../img/advantages_reception.svg");
}

.advantages__img_7 {
    background-image: url("../img/advantages_security-box.svg");
}

.advantages__img_8 {
    background-image: url("../img/advantages_swimming-pool.svg");
}


/* placement */

.placement__list {
    flex-wrap: wrap;
    justify-content: space-between;
}

.placement__item {
    width: 374px;
    margin-bottom: 24px;
    background: var(--color-white);
    border-radius: 15px;
}

.placement__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.placement__item:last-child {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../img/coast.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.article__info {
    padding: 32px 45px 45px 45px;
}

.article__top {
    margin-bottom: 16px;
}

.article__item_from {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-grey-light);
}

.article__item_price {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-black);
}

.article__item_night {
    margin-right: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-black);
}

.article__item_title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-black);
}

.article__item_text {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-grey-light);
}


.placement_link_coast {
    align-items: center;
    padding-bottom: 27px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color:var(--color-white);
}

.placement_link_coast svg {
    transform: translate(10px);
}

.article__item_btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 13px 20px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    color: var(--color-primary);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

}

/* want_tour */

.want_tour__container {
    background: #e9e9e9;
    border-radius: 15px;
    padding: 45px;
}

.want_tour__title {
    padding-left: 0;
    color:  var(--color-black);
}

.form {
    background: var(--color-white);
    border-radius: 15px;
    padding: 31px 28px 32px 28px;
    justify-content: space-between;
    align-items: center;
}

.want_tour_item {
    margin-right: 41px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color:  var(--color-black);
}

.want_tour_item:last-child {
    margin-right: 51px;
}

.label__text {
    display: block;
    margin-bottom: 15px;
}


.form_list {
    align-items: center;
}

.form_top {
    flex-wrap: wrap;
}

.from_right {
    flex-direction: column;
    justify-content: space-between;
}

.label__set {
    flex-shrink: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color:  var(--color-black);
    border: 0;
}

.form_select {
    width: 169px;
}

.label__number {
    border-bottom: 2px solid #E9E9E9;
    width: 121px;
}

.lable__btn {
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    color: var(--color-primary);
    padding: 13px 30px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* contacts */

.contacts {
    margin-bottom: 30px;
}

.contacts__container {
    padding: 45px;
    background-color: var(--color-white);
    border-radius: 15px;
    justify-content: space-between;
}

.contacts__address {
    font-style: normal;
    margin-bottom: 47px;
}

.address__list {
    margin-right: 52px;
    width: 375px;
}


.address__item {
    padding-bottom: 23px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E9E9E9;
    justify-content: space-between;
}

.address_item__right {
    flex-direction: column;
}

.address__item:nth-child(4){
    margin-bottom: 45px;
}

.address__item:last-child{
    margin-bottom: 0;
}

.address_item__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color:  var(--color-black);
}

.address__text {
    margin: 0;
    width: 229px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);
}

.item__width {
    width: 229px;
}

.address__text_grey {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-grey-light);
}

.item__right {
    flex-direction: column;
}

.contacts__btn {
    padding: 27px 29px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    color:  var(--color-primary);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* footer */


.footer__content {
    margin-bottom: 30px;
    padding: 45px;
    background-color: #333333;
    background-image: url("../img/big_logo_lagoona.svg");
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: 750px bottom;
    border-radius: 15px;
}


.footer__left {
    width: 302px;
    margin-right: 125px;
}

.footer__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: var(--color-white);
}

.text__right {
    margin-bottom: 37px;
}

.footer_list__item:nth-child(2) {
    margin-bottom: 15px;
}

.text__right:last-child {
    margin-bottom: 40px;
}

.text_left {
    margin-bottom: 15px;
}

.footer__link:hover {
    color: var(--color-primary)
}

.footer__link:focus {
    outline: 1px solid var(--color-primary);
    outline-offset: 2px;
}

.footer__link:active {
    color: var(--color-tertiary);
    outline: 0;
}


.footer__right {
    flex-direction: column;
}

.footer__list_num {
    flex-direction: column;
    margin-bottom: 15px;
}

.footer__list_social {
    flex-direction: column;
    margin-left: auto;
}

.list_social__item {
    margin-bottom: 20px;
}

.list_social__item:last-child{
    margin: 0;
}

.list_social__link path{
    fill: var(--color-grey-light);
    transition: fill 0.2s ease-in-out;
}

.list_social__link:focus {
    outline: none;
}

.list_social__link:hover path {
    fill: var(--color-primary);
}

.list_social__link:focus path {
    fill: var(--color-primary);
}

.list_social__link:active path {
    fill: var(--color-tertiary);
}